@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    margin: 0 ;
    font-family: 'Roboto', sans-serif;
}

.main-login{
    width: 100vw ;
    height: 100vh ;
    background: #6c346a ;
    display: flex ;
    justify-content: center ;
    align-items: center ;
    box-shadow: 24px 23px 109px 8px rgba(0,0,0,0.36) inset ;
    -webkit-box-shadow: 24px 23px 109px 8px rgba(0,0,0,0.36) inset ;
    -moz-box-shadow: 24px 23px 109px 8px rgba(0,0,0,0.36) inset ;
    font-style: oblique ;
}

.left-login{
    width: 50vw ;
    height: 100vh ;
    display: flex ;
    justify-content: center ;
    align-items: center ;
    flex-direction: column ;
}

.left-login > h1{
    color: #ff8bc6 ;
    font-size: 2vw ;
} 

.right-login{
    width: 50vw ;
    height: 100vh ;
    display: flex ;
    justify-content: center ;
    align-items: center ;
}

.card-login{
    width: 50% ;
    display: flex ;
    justify-content: center ;
    align-items: center ;
    flex-direction: column ;
    padding: 10px 20px ;
    background: #833c80 ;
    border-radius: 40px ;
    box-shadow: 2px 5px 8px 1px rgba(0,0,0,0.24) ;
    -webkit-box-shadow: 2px 5px 8px 1px rgba(0,0,0,0.24) ;
    -moz-box-shadow: 2px 5px 8px 1px rgba(0,0,0,0.24) ;
}

.card-login > h1{
    color: white ;
    font-weight: 1000 ;
    margin: 0 ;
    font-family: 'Inconsolata', monospace;
}

.textfield{
    display: flex ;
    flex-direction: column ;
    align-items: flex-start ;
    justify-content: center ;
    margin: 10px 0px ;
}

.textfield > input{
    width: 100% ;
    border: none ;
    border-radius: 15px ;
    padding: 7px ;
    background: white ;
    color: black ;
    font-size: 10px ;
    box-shadow: 0px 10px 40x black ;
    outline: none ;
    box-sizing: border-box ;
    font-style: italic ;
}

.textfield > label{
    color: black ;
    margin-bottom: 10px ;
    font-size: 16px ;
}

.textfield > input::placeholder{
    color: rgb(197, 195, 195) ;
}

.btn-login{
    width: 85% ;
    padding: 11px 0px ;
    margin: 15px ;
    border: none ;
    border-radius: 8px ;
    outline: none ;
    text-transform: uppercase ;
    font-weight: 800 ;
    letter-spacing: 2px ;
    color: white ;
    background: #6c346a ;
    cursor: pointer ;
    box-shadow: 0px 13px 19px -13px rgba(0,0,0,0.75) ;
    -webkit-box-shadow: 0px 13px 19px -13px rgba(0,0,0,0.75) ;
    -moz-box-shadow: 0px 13px 19px -13px rgba(0,0,0,0.75) ;
}

.left-img{
    width: 35vw ;
    size: 35px ;
}

